<div class="container">
    <h1>Exchange</h1> 

    <div class="grid">

    </div>

    Base: 
    <select [(ngModel)]='base'>
    <option *ngFor="let b of getBases()">{{ b }}</option>
    </select>
    <br/>

    Date: <input type="date" [(ngModel)]='date'/><br/>

    <button (click)="loadRates()" [disabled]="!date" class="load-button">Display</button>

    <br/><br/>

    <div *ngIf="getRates()" class="data-grid">
        <div class="grid-row">
            <div class="grid-cell" (click)="sortRates()"><b>Currency {{ sorting == 0 ? '&nbsp;' : sorting > 0 ? '↓' : '↑' }}</b></div>
            <div class="grid-cell"><b>Buy</b></div>
            <div class="grid-cell"><b>Cell</b></div>
        </div>

        <div class="grid-row" [style.color]="item.isBase ? 'red' : 'black'" *ngFor="let item of getRates()" >
            <div class="grid-cell">{{ item.id }}</div>
            <div class="grid-cell">{{ item.value }}</div>
            <div class="grid-cell">{{ item.value }}</div>
        </div>
    </div>
</div>