<div class="container">
    <h1>Exchange Rates</h1> 
    <div class="grid">
        <div class="section">
            <div class="ig"> 
                <span class="il">Base: </span>
                <select [(ngModel)]='base'>
                    <option *ngFor="let b of getBases()">{{ b }}</option>
                </select>
            </div>
            <div class="ig"> 
                <span class="il">Date:</span> <input type="date" [(ngModel)]='date'/><br/>
            </div>
            
            <div class="ig">
                <span class="il">&nbsp;</span>
                <button (click)="loadRates()" [disabled]="!date" class="load-button">Display</button>
            </div>

        </div>
        <div class="section-grid">
            <div *ngIf="getRates()" class="data-grid">
                <div class="grid-row">
                    <div class="grid-cell" (click)="sortRates()"><b>Currency&nbsp;{{ sorting == 0 ? '&nbsp;' : sorting > 0 ? '↓' : '↑' }}</b></div>
                    <div class="grid-cell"><b>Buy</b></div>
                    <div class="grid-cell"><b>Cell</b></div>
                </div>
        
                <div class="grid-row" [style.color]="item.isBase ? 'red' : 'black'" *ngFor="let item of getRates()" >
                    <div class="grid-cell">{{ item.id }}</div>
                    <div class="grid-cell">{{ item.buy }}</div>
                    <div class="grid-cell">{{ item.sell }}</div>
                </div>
            </div>
                
        </div>
    </div>


    <br/><br/>

</div>